{% extends "base.html" %}



<style>
	{%block subcss%}
table{
	font-family: 'Carter One', cursive;
	margin-top: 30px;
}
.th{
	background-color: #12214a;
	color: white;
	padding: 10px;
	/* width: 100%; */
}
.td{
	padding: 5px;
	background-color: rgba(220, 220, 220, 0.622);
	justify-content: center;
}
caption{
	background-color: #12214a;
	color: white;
	padding: 10px;
}

    {%endblock subcss%}
</style>


{%block content%}

	<!-- Let's start with the navbar -->
	<nav><hr>
		<div class="brand">{{student.name}}</div><br>
		<div class="brand">{{student.usn}}</div><br>
		<div class="links">
			<hr>
			<a data-active="index" href="/studentapp/{{stid}}">Home</a>
			<a data-active="products" href="/studentapp/info/{{stid}}">Info</a>
			<a data-active="farm" href="/studentapp/marks/{{stid}}">Marks</a>
			<a data-active="about" href="/studentapp/attendence/{{stid}}" style="background: #007bff;color: #fff;">Attendace</a>
			<a data-active="contact" href="/studentapp/faculty/{{stid}}">Faculty</a>
			<hr>
		</div>
	</nav>

	<!-- I will also add a header to the pages -->

	<table>
		<caption>MARKS</caption>
		<tr>
			<th class="th" style="width: 7%;">SUBJECT CODE</th>
			<th class="th" style="width: 7%;">SUBJECT NAME</th>
			<th class="th" style="width: 7%;">FACULTY NAME</th>
			<th class="th" style="width: 7%;">IA1</th>
			<th class="th" style="width: 7%;">IA2</th>
			<th class="th" style="width: 7%;">IA3</th>
			<th class="th" style="width: 7%;">ASSIGNMENT</th>
			<th class="th" style="width: 7%;">FINALIA</th>
			<th class="th" style="width: 7%;">ATTENDENCE (%)</th>
		</tr>
		{%for i in att%}
		<tr>
			<td class="td">{{i.subcode}}</td>
			<td class="td">{{i.subname}}</td>
			<td class="td">{{i.facultyname}}</td>
			<td class="td">{{i.ia1}}</td>
			<td class="td">{{i.ia2}}</td>
			<td class="td">{{i.ia3}}</td>
			<td class="td">{{i.assignment}}</td>
			<td class="td">{{i.finalia}}</td>
			<td class="td">{{i.attpercent}}</td>
		</tr>
		{%endfor%}
	</table>


{%endblock content%}